*.RHistory
*.pyc
__pycache__
*__pycache__*

Reference-genomes/
Targets/
01-Assembly-data/
01-Assembly-scripts/submit/
01-Assembly-scripts/logs/
02-Annotation-data/transcript-seq*
03-Alignments/
03-Alignment-scripts/test/
03-Alignment-scripts/tmp/
03-Alignment-scripts/old/
tmp.fa
*.log
*.out