*.RHistory
*.pyc
__pycache__
*__pycache__*
tmp.fa
*.log
*.out
*.log
*.snakemake*
.vscode/
murinae.code-workspace

Reference-genomes/
Targets/

01-Assembly/00-RawReads/
01-Assembly/01-Fastp/
01-Assembly/02-Decon/
01-Assembly/03-Merged/
01-Assembly/04-Cat-fastq/
01-Assembly/05-Scaffolds/
01-Assembly/05-Spades/
01-Assembly/06-Map/
01-Assembly/07-Pileup/
01-Assembly/08-Referee/
01-Assembly/09-Remap/
01-Assembly/10-Varcall/
01-Assembly/Contamination_Genomes/
01-Assembly/scripts/submit/
01-Assembly/scripts/logs/
01-Assembly/v1.0/
01-Assembly/iupac-assemblies.tar.gz
01-Assembly/referee-assemblies.tar.gz

02-Annotation/seq/

03-Alignments/00-Blast/
03-Alignments/01-Raw/
03-Alignments/02-Seq/
03-Alignments/03-Exonerate/
03-Alignments/03-MAFFT/
03-Alignments/old/
03-Alignments/scripts/full-coding-trimmed-NEW-f175-seq20-site50/
03-Alignments/scripts/old/
03-Alignments/scripts/jobs/exonerate_rep_mass.sh
03-Alignments/scripts/etc/full-all-seqlens-500.csv
03-Alignments/scripts/logs/old/06-cds-trim-stats.csv
03-Alignments/scripts/jobs/exonerate_rep_img.sh
03-Alignments/scripts/etc/reproductive-all-seqlens-200.csv
03-Alignments/scripts/etc/full-all-alnlens-500.csv
03-Alignments/scripts/etc/full-all-alnlens-norefs.csv
03-Alignments/scripts/etc/full-all-seqlens-norefs.csv
03-Alignments/scripts/jobs/exonerate_rep_morpho.sh
03-Alignments/scripts/etc/reproductive-all-seqlens-500.csv
03-Alignments/scripts/etc/full-all-seqlens-200.csv
03-Alignments/scripts/etc/full-all-alnlens-200.csv
03-Alignments/roycroft-alns/

04-Phylo/full-coding-iqtree/
04-Phylo/old/
04-Phylo/reproductive-datasets/

05-MolEvol/

docs/data/annotations/all-samples_contig-match.txt

docs/data/06-cds-trim-stats.csv

docs/data/assembly-stats/count-ns.csv

docs/data/aln-stats/sample-hits-exons.csv
docs/data/aln-stats/sample-segments-exonerate-f0-TEST.csv
docs/data/aln-stats/sample-segments-exonerate-f175-TEST.csv
docs/data/aln-stats/sample-segments-exonerate-f150.csv
docs/data/aln-stats/sample-targets-exonerate-f150.csv
docs/data/aln-stats/sample-segments-exonerate-f175.csv
docs/data/aln-stats/sample-targets-exonerate-f175.csv

docs/data/substitution-rates/full-coding-mg94-local.csv.gz
docs/data/substitution-rates/full-coding-mg94-local.csv
docs/data/substitution-rates/full-coding-slac.csv.gz
docs/data/substitution-rates/full-coding-slac-cut.csv

docs/data/noncoding-aln-stats/full-all-alnlens-200.csv
docs/data/noncoding-aln-stats/full-all-alnlens-500.csv
docs/data/noncoding-aln-stats/full-all-alnlens-norefs.csv
docs/data/noncoding-aln-stats/full-all-seqlens-200.csv
docs/data/noncoding-aln-stats/full-all-seqlens-500.csv
docs/data/noncoding-aln-stats/mm10-exons-lens-200.csv
docs/data/noncoding-aln-stats/mm10-exons-lens-500.csv
docs/data/noncoding-aln-stats/mm10-exons-lens-noflank.csv
docs/data/noncoding-aln-stats/reproductive-all-alnlens-200.csv
docs/data/noncoding-aln-stats/reproductive-all-alnlens-500.csv
docs/data/noncoding-aln-stats/reproductive-all-seqlens-200.csv
docs/data/noncoding-aln-stats/reproductive-all-seqlens-500.csv
docs/data/noncoding-aln-stats/rnor6-exons-lens-200.csv
docs/data/noncoding-aln-stats/rnor6-exons-lens-500.csv
docs/data/noncoding-aln-stats/rnor6-exons-lens-noflank.csv

docs/data/trees/astral/concord-rooted/cf-reps/
docs/data/trees/astral/concord-rooted-bl/cf-reps/
docs/data/trees/astral/concord-rooted-bl/topo-counts.tab
docs/data/trees/astral/concord-rooted-bl/full_coding_iqtree_astral_rooted_bl.cf.tree.nex
docs/data/trees/concat/concat-cf-reps/
docs/data/trees/tip-introgression-rnd/
docs/data/trees/mitochondrial/loci/

docs/data/trees/old/astral-cf-reps/
docs/data/trees/old/concord-astral-rooted/astral-cf-reps/
docs/data/trees/old/concord-astral-rooted/full_coding_iqtree_astral.cf.tree.nex

docs/data/wgs-ps-comps/mm10-cds-windows.csv

docs/scripts/generators/tmp/

docs/data/convergence/full-coding-astral-pairwise-convergence-nodesc/substitution-pairs-by-gene.csv