*.RHistory
*.pyc
__pycache__
*__pycache__*
tmp.fa
*.log
*.out
*.log
.vscode/
murinae.code-workspace

Reference-genomes/
Targets/
01-Assembly-data/
01-Assembly-scripts/submit/
01-Assembly-scripts/logs/
02-Annotation-data/seq/
02-Annotation-data/all-samples_contig-match.txt
02-Annotation-data/compare-lists.txt
02-Annotation-data/max-len-transcripts/seq/
02-Annotation-data/max-len-transcripts/old/
02-Annotation-data/max-len-transcripts/all-samples_contig-match.txt
03-Alignments/
03-Alignment-scripts/test/
03-Alignment-scripts/tmp/
03-Alignment-scripts/old/
03-Alignment-scripts/jobs/
03-Alignment-scripts/submit/
03-Alignment-scripts/logs/
04-Phylo/

docs/data/all-samples_contig-match.txt
docs/data/06-cds-trim-stats.csv
docs/data/count-ns.csv
docs/data/aln-stats/sample-hits-exons.csv
docs/data/aln-stats/sample-segments-exonerate-f0-TEST.csv
docs/data/aln-stats/sample-segments-exonerate-f175-TEST.csv
docs/data/aln-stats/sample-segments-exonerate-f150.csv
docs/data/aln-stats/sample-targets-exonerate-f150.csv
docs/data/aln-stats/sample-segments-exonerate-f175.csv
docs/data/aln-stats/sample-targets-exonerate-f175.csv

docs/data/rates/full-coding-mg94-local.csv.gz